:root {
    --font: "Nunito", sans-serif;
    --white: white;
    --black: #000;
    --theme1: #343c69;
    --btn: #e94948;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.1s ease-out;
}

.nav.scrolled {
    background-color: rgba(255, 255, 255, 0.461);
    backdrop-filter: blur(10px);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: -1px 10px 17px -2px rgba(0, 0, 0, 0.61);
}

.nav-logo a {
    color: var(--theme1);
    background-color: transparent;
    font-size: 28px;
    font-weight: 800;
    font-family: "Acme", sans-serif;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    color: #000;
    background-color: transparent;
}

.nav-list {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    background-color: transparent;
}

.nav-list:hover {
    font-weight: bold;
    transition: 0.2s ease;
}

.navbar-toggle {
    display: none;
    z-index: 2000;
    background-color: transparent;
}

a {
    background-color: transparent;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
        align-items: center;
        background-color: rgba(229, 223, 223, 0.911);
    }
    .nav-menu.active {
        display: flex;
        border-radius: 0 0 0.5rem 0.5rem;
        box-shadow: -1px 10px 17px -2px rgba(0, 0, 0, 0.61);
    }
    .navbar-toggle {
        display: block;
    }
    .toggle-icon,
    .cross-icon {
        font-size: 1.5rem;
        font-weight: 900;
        color: var(--theme1);
        background-color: transparent;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }
    .nav.active {
        position: relative;
    }
}

@media (min-width: 768px) {
    .nav {
        padding: 2rem;
    }
    .nav-logo {
        font-size: 2rem;
    }
}